.grid{
    margin: 50px 0 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 100%
    
}

.card{ 
    overflow: hidden;
    text-align: center;

    &__title{

        font-size: 10px;
        overflow: hidden;
    }
    &__img{ 
        height: 350px;
        width: auto;
        aspect-ratio:1/1 ;
    }
}


  .animate-fade-in {
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 1s;
  }
  
  $animationDelay: 1;
  @for $i from 1 through 15 {
      .projects div:nth-of-type(#{$i}) {
          animation-delay: #{1+($i)/30}s;
    }
  }
  
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
    0% { opacity: 0; }
  }