.button{ 
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    transition: 500ms;

}

.blue{ 
    background-color: blue;
    &:hover {cursor: pointer;
    background-color: rgb(7, 7, 143);
    transition: 500ms;}
    
}


.red{ 
    background-color: rgb(184, 2, 2);
    &:hover {cursor: pointer;
        background-color: rgb(255, 0, 0);
        transition: 500ms;}
}

.grey{
    background-color: rgb(180, 180, 180);
    &:hover {cursor:not-allowed;}

}
