.form{
margin: 50px 0;
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
text-align: center;}


.input{ 
    margin-bottom: 10px;
    background-color: #f8f6f6;
    color: grey;
    font-size: 16px;
    border: rgb(238, 238, 238) solid 1px ;
    padding: 10px;
}

.fixed{
    position: fixed;
    bottom: 20px;
    left: 30px
}