@import './styles/others/buttons';
@import './styles/others/forms.scss';
@import './styles/components/GifGridItem';
@import './styles/utils/responsives';
@import './styles/others/loader-animate';


body{
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 100%;
  
  padding:  0 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}




@include tablet{
body {
  padding:  20px 150px;

  


}



}
